body,
input,
h2 {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #1d1d1d;
}

#content {
  height: 100vh;
  color: #d6d6d6;
  display: grid;
  grid-template: 100px auto / 1fr 5fr;
  grid-template-areas:
    "heading heading"
    "sidebar todos";
}

.todo-form input {
  width: 100%;
  padding: 2px 10px;
}

.display-form {
  display: none;
}

dialog {
  border: solid 1px #80808069;
  outline: none;
  border-radius: 8px;
  background-color: #303030;
  color: #d6d6d6;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
}

#modal {
  display: flex;
  flex-direction: column;
  gap: 50px;

  & .confirm-buttons {
    display: flex;
    justify-content: space-around;
  }
}

#modal:not([open]) {
  display: none;
}

.confirm-delete {
  padding: 20px;
  font-size: 1.4rem;
}

.modal-button {
  width: 150px;
  padding: 12px;
  outline: none;
  font-size: 1rem;
  border-radius: 8px;
}

button {
  padding: 5px;
  background-color: #1d1d1d;
  color: #d6d6d6;
  border: none;
  cursor: pointer;
}

button:active {
  transform: scale(1.02);
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  accent-color: #ffa600;
  cursor: pointer;
}

.heading {
  grid-area: heading;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #303030;
  font-size: 2.7rem;
}

.logo {
  width: 80px;
  height: auto;
}

.todo-form {
  grid-area: sidebar;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.select-list,
.create-todo,
.create-list,
.delete-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-lists,
.todo-description,
.todo-due-date,
.todo-importance,
.list-name {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 25px;
}

.todo {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  gap: 25px;
  background-color: #303030;
}

.todo-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.description {
  padding: 5px;
  border-right: #80808069 solid 1px;
}

.date {
  white-space: nowrap;
}

.low {
  border-left: 8px solid #fffb00;
}

.medium {
  border-left: 8px solid #ffa600;
}

.high {
  border-left: 8px solid #ff0000;
}

.checked {
  border-left: 8px solid #008000;
}

.todo-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: none;
}

.close-icon {
  width: 25px;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #content {
    display: flex;
    flex-direction: column;
  }

  .heading {
    font-size: 1.5rem;
  }

  .logo {
    width: 40px;
    height: auto;
  }

  .todo-form {
    display: grid;
    grid-template-areas:
      "createTodo createList"
      "selectList deleteList";
  }

  .create-todo {
    grid-area: createTodo;
  }

  .select-list {
    grid-area: selectList;
  }

  .create-list {
    grid-area: createList;
  }

  .delete-list {
    grid-area: deleteList;
  }

  .todo {
    display: flex;
    flex-direction: column;
  }

  .description {
    width: 95%;
    border-right: none;
    border-bottom: #80808069 solid 1px;
    padding: 10px;
  }

  .todo-info {
    padding-bottom: 10px;
    width: 100%;
    justify-content: space-evenly;
  }

  .display-form {
    display: block;
    width: 100px;
    background-color: #303030;
    align-self: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  dialog {
    max-width: 350px;
  }

  .hidden {
    display: none;
  }
}
