body,
input,
h1,
h2 {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #1d1d1d;
}

#content {
  height: 100vh;
  color: #d6d6d6;
  display: grid;
  grid-template: auto / 325px auto;
  grid-template-areas: "sidebar todos";
}

dialog {
  border: solid 1px #80808069;
  outline: none;
  border-radius: 8px;
  background-color: #303030;
  color: #d6d6d6;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
}

#modal {
  display: flex;
  flex-direction: column;
  gap: 50px;

  & .modal__buttons {
    display: flex;
    justify-content: space-around;
  }
}

#modal:not([open]) {
  display: none;
}

.modal__heading {
  padding: 20px;
  font-size: 1.4rem;
}

.modal__button {
  width: 150px;
  padding: 12px;
  border: none;
  outline: none;
  background-color: #1d1d1d;
  color: #d6d6d6;
  font-size: 1rem;
  border-radius: 8px;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  accent-color: #ffa600;
  cursor: pointer;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #303030;
  font-size: 2.7rem;
}

.logo {
  width: 80px;
  height: auto;
}

.title {
  white-space: nowrap;
}

.todo-lists,
.create-todo__description,
.create-todo__due-date,
.create-todo__priority,
.list-name {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 35px 25px 25px 120px;
  width: min(50vw, 1200px);
  justify-self: center;
}

.todo {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  gap: 25px;
  background-color: #303030;
}

.todo__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.todo__delete-button {
  background-color: inherit;
  border: none;
  outline: none;
}

.todo__description {
  padding: 5px;
  border-right: #80808069 solid 1px;
}

.todo__date {
  white-space: nowrap;
}

.low {
  border-left: 8px solid #fffb00;
}

.medium {
  border-left: 8px solid #ffa600;
}

.high {
  border-left: 8px solid #ff0000;
}

.checked {
  border-left: 8px solid #008000;
}

.todo-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: none;
}

.close-icon {
  width: 25px;
  height: auto;
  cursor: pointer;
}

input.error {
  outline: solid 3px red;
}

.description-error-message,
.add-list-error-message {
  display: none;
}

.description-error-message.error,
.add-list-error-message.error {
  display: block;
  position: absolute;
  bottom: -9px;
  left: 6px;
  font-size: 0.7rem;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #303030;
  padding-bottom: 10px;
}
.menu__button {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: #303030;
  cursor: pointer;
}

.menu__icon {
  width: 20px;
  height: auto;
}

.menu__icon.selected {
  filter: invert(30%) sepia(80%) saturate(774%) hue-rotate(354deg)
    brightness(102%) contrast(98%);
}

.todo-form {
  grid-area: sidebar;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
  height: auto;
}

.todo-form select,
.todo-form option,
.todo-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.todo-form__button {
  height: 30px;
  padding: 5px;
  background-color: #1d1d1d;
  color: #d6d6d6;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-form__button:active {
  transform: scale(1.02);
}

.form-heading {
  padding-top: 15px;
}

.select-list,
.create-todo,
.create-list,
.delete-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  opacity: 0;
  height: 0;
}

.create-todo {
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.create-todo.selected {
  opacity: 100%;
  padding: 5px 20px 15px 20px;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.select-list {
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.select-list.selected {
  opacity: 100%;
  height: auto;
  padding: 0 20px 15px 20px;
  transition: opacity 0.3s ease-in-out;
}

.create-list {
  overflow: hidden;
  display: flex;
  transition: opacity 0.3s ease-in-out;
}

.create-list.selected {
  opacity: 100%;
  padding: 5px 20px 15px 20px;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.delete-list {
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.delete-list.selected {
  opacity: 100%;
  padding: 0 20px 15px 20px;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  #content {
    display: flex;
    flex-direction: column;
  }

  .heading {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }

  .logo {
    width: 40px;
    height: auto;
  }

  .todo-form {
    margin: 0;
    padding: 0;
    height: auto;
    gap: 0;
  }

  .create-todo {
    opacity: 0;
    height: 0px;
    overflow: hidden;
    display: grid;
    grid-template-areas:
      "description description"
      "date priority"
      "button button";
    gap: 15px;
    transition: height 0.2s ease-in-out;
  }

  .create-todo.selected {
    opacity: 100%;
    padding: 5px 20px 15px 20px;
    height: 140px;
    transition-property: height, opacity;
    transition-duration: 0.2s, 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0, 0.3s;
  }

  .create-todo__description {
    grid-area: description;
  }

  .create-todo__due-date {
    grid-area: date;
  }

  .create-todo__priority {
    grid-area: priority;
  }

  .todo-add {
    grid-area: button;
  }

  .select-list {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
  }

  .select-list.selected {
    opacity: 100%;
    height: 45px;
    padding: 0 20px 15px 20px;
    transition-property: height, opacity;
    transition-duration: 0.2s, 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0, 0.3s;
  }

  .create-list {
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    gap: 12px;
    transition: height 0.2s ease-in-out;
  }

  .create-list.selected {
    opacity: 100%;
    padding: 5px 20px 15px 20px;
    height: 87px;
    transition-property: height, opacity;
    transition-duration: 0.2s, 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0, 0.3s;
  }

  .delete-list {
    opacity: 0%;
    height: 0;
    overflow: hidden;
    display: flex;
    transition: height 0.2s ease-in-out;
  }

  .delete-list.selected {
    opacity: 100%;
    padding: 0 20px 15px 20px;
    height: 30px;
    gap: 0;
    transition-property: height, opacity;
    transition-duration: 0.2s, 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0, 0.3s;
  }

  .todo-list {
    width: auto;
    margin: 25px;
  }

  .todo {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    padding: 0;
  }

  .todo__description {
    border-right: none;
    border-bottom: #80808069 solid 1px;
    padding: 10px 0;
    margin: 0 15px;
  }

  .todo__info {
    width: inherit;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 15px;
  }

  .todo__status {
    order: 1;
    align-self: center;
    margin-right: auto;
  }

  .todo__date {
    order: 2;
  }

  .todo__delete-button {
    padding: 0;
    order: 3;
  }

  .form-heading {
    display: none;
  }

  dialog {
    max-width: 350px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #303030;
    padding-bottom: 10px;
  }
  .menu__button {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #303030;
  }

  .menu__icon {
    width: 20px;
    height: auto;
  }

  .menu__icon.selected {
    filter: invert(30%) sepia(80%) saturate(774%) hue-rotate(354deg)
      brightness(102%) contrast(98%);
  }
}
